{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search for Books{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">Upload Book</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form class="d-flex" action="/search" method="get">
    <input class="form-control me-2" type="search" name="query" placeholder="Search...">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <h1>Your Recommendations</h1>
  {% for book in books %}
      <article class="book">
        <header>
            <div>
            <h1>{{ book['title'] }}</h2>
            </div>
            
            <div>
            <h1>Author:</h2>
            <p>{{ book['author'] }}</p>
            </div>
            
            <div>
            <h1>ISBN:</h2>
            <p>{{book['isbn']}}</p>
            </div>
            <div>
                <h1>Genres:</h2>
                <ul>
                    {% for item in genres[{{ loop.index0 }}] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}