{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tell us what you like!{% endblock %}</h1>
{% endblock %}

{% block content %}
<form>
    <label for="genre1">Genre 1:</label>
    <input type="text" id="genre1" name="genre1" list="genre-list">

    <br>
    
    <label for="genre2">Genre 2:</label>
    <input type="text" id="genre2" name="genre2" list="genre-list">

    <br>
    
    <label for="genre3">Genre 3:</label>
    <input type="text" id="genre3" name="genre3" list="genre-list">
    <br>
    
    <label for="genre4">Genre 4:</label>
    <input type="text" id="genre4" name="genre4" list="genre-list">
    <br>
    
    <label for="genre5">Genre 5:</label>
    <input type="text" id="genre5" name="genre5" list="genre-list">

    <datalist id="genre-list">
        <option value="Fiction">
        <option value="Mystery">
        <option value="Thriller">
        <option value="Crime Fiction">
        <option value="Horror">
        <option value="Science Fiction">
        <option value="Dystopian">
        <option value="Fantasy">
        <option value="Adventure">
        <option value="Historical">
        <option value="Romance">
        <option value="Comedy">
        <option value="Satire">
        <option value="Drama">
        <option value="Non-Fiction">
        <option value="Memoir">
        <option value="Biography">
        <option value="Philosophy">
        <option value="African American Literature">
        <option value="Feminism">
        <option value="Epistolary">
        <option value="Social Commentary">
        <option value="Classic Literature">
        <option value="Gothic">
        <option value="Morality">
        <option value="French Literature">
        <option value="British Literature">
        <option value="Coming-of-Age">
        <option value="Afghan Literature">
        <option value="World War II">
        <option value="Holocaust">
        <option value="French Revolution">
        <option value="Social Criticism">
        <option value="Political Allegory">
        <option value="Southern Gothic">
        <option value="Racial Injustice">
        <option value="Literary Fiction">
        <option value="Existentialism">
        <option value="American Literature">
    </datalist>
  </form>
{% endblock %}
<script>
    input.onfocus = function () {
  browsers.style.display = 'block';
  input.style.borderRadius = "5px 5px 0 0";  
};
for (let option of browsers.options) {
  option.onclick = function () {
    input.value = option.value;
    browsers.style.display = 'none';
    input.style.borderRadius = "5px";
  }
};

input.oninput = function() {
  currentFocus = -1;
  var text = input.value.toUpperCase();
  for (let option of browsers.options) {
    if(option.value.toUpperCase().indexOf(text) > -1){
      option.style.display = "block";
  }else{
    option.style.display = "none";
    }
  };
}
var currentFocus = -1;
input.onkeydown = function(e) {
  if(e.keyCode == 40){
    currentFocus++
   addActive(browsers.options);
  }
  else if(e.keyCode == 38){
    currentFocus--
   addActive(browsers.options);
  }
  else if(e.keyCode == 13){
    e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (browsers.options) browsers.options[currentFocus].click();
        }
  }
}

function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("active");
    }
  }
</script>